html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

/*
 * Setting of the three columns
 */
    body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
}

.screen-center {
    width: 556px;
}

.screen-left, .screen-right {
    background-color: #009ed0;
    -webkit-box-flex: 1;
}

/*
 * Setting of the logo and buttons on the two outer columns
 */

.screen-left, .screen-right {
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.glue {
    -webkit-box-flex: 1;
}

.top-placeholder {
    margin-top: 30px;
}

.bottom-placeholder {
    margin-bottom: 30px;
}

.middle-placeholder, .top-placeholder, .bottom-placeholder {
    text-align: center;
    height: 100px;
}

.left-buttons, .right-buttons {
    min-width: 300px;
}

.right-buttons img {
    padding: 0 10px;
    visibility: hidden;
}

.logo-img {
    height: 80px;
    width: 107px;
    display: inline-block;
    background-image: url(../images/logo.png);
}

.button-back {
    height: 43px;
    width: 40px;
    display: inline-block;
    background-image: url(../images/back.png);
}
